@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
}

body{
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;

    
}
/* shared style*/
.text-color{
    color: #474747;
}

.btn-1{
    background-color: #FD6E0A;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    cursor: pointer;
    display: inline-block;
}

.btn-2{
    background-color: white;
    color: #FD6E0A;
    padding: 18px 35px;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    margin-left: 10px;
    cursor: pointer;
}

/*Navigation section*/

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 170px;
    
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
    
}
.nav-title span{

    color: #FD6E0A;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    
}
nav ul a{
    text-decoration: none;
    color: #474747;
    margin-right: 50px;
    
}


/* hero section*/


header{
    width: 100%;
    background-image: url(/images/developer.png),url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,  right bottom;
    background-color: #FFF8F3;
 
}
.hero{
    width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 120px 0px;
  
}

.hero-content{
    max-width: 580px;
    margin-left: 230px;
}

.hero-content h3{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-top: 10px;
}
.hero-content h1{
    color: #181818;
    font-size: 85px;
    font-weight: 800;
    margin-top:-45px ;
}

.hero-content p{
    color: #757575;
    font-size: 18px;
    margin-top:-35px ;
    
}

.hero .img{
   max-width:500px ;
   margin-right: 38px;
}
.img img{
    width: 100%;
}

/* main*/

main{
    max-width: 1140px;
    margin: 0 auto;
}

main section{
    margin: 100px 0px;
}

/*about*/

.about{
    background-color:#FFF8F3;
    padding: 131px 156px;
    
}

.about-content{
    background-color: #FFFFFF;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}

.items{
    display: flex;
    justify-content: space-between;
}

.item p{
    line-height: 0px;
    color: #757575;
}

/* skills section*/

.skills{
    text-align: center;

}
.skills p{
    color: #757575;
}

.skill-container{
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    margin-top: 50px;
}

.skill{
    padding: 33px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    font-size: 16px;
}


/* resume section*/

.resume{
    text-align: center;
}
.resume p{
    color: #757575;
    font-size: 16px;
}
.resume h3{
 margin-bottom: 50px;
 font-size: 25px;
}
.resume h4{
    line-height: 0px;
    font-weight: 600;
    font-size: 20px;
   
   }

   .resume h5{
    color: #757575;
   }

.resume-container{
display: flex;
text-align: left;
gap: 71px;
}

.resume button{
    margin-top: 20px;
};


/* footer section*/

footer{
    width: 100%;
    background-color: #FFF8F3;
    ;
    
}

footer .img{
  
    display: flex;
  
}

footer .container{
    display: flex;
    gap: 120px;
    background-color: #FFF8F3;
    align-items: flex-start;
    justify-content: space-between;
    padding: 200px;
}

footer input[type ='text'],footer input[type ='email'] {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 6px ;
    background-color:white;
    border:none;
    margin-bottom: 25px;
    padding: 10px;
}

footer textarea{
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    text-align: justify;
}
.fotter-col1{
    align-items: flex-start;
}

